FORMAT: 1A
HOST: http://itas.apiary.io/
VERSION: 2.23

# ITAS API 2.23


## Disclaimer

**** Warning: at this point, ITAS API does not support asynchronus or multithreading calls for POST, PUT, PATCH and DELETE requests. Async or multithreading requests could result in various Error messages, or even a corruption of data in extreme cases and are therefore not supported. ****
<br />
<br />
<strong>Release notes</strong> (XX<sup>th</sup> XX 2020)

## New Endpoints

<ul>
<li>Inventory-Physicals-Stock Processing <b>Create StockToStockTransfer</b>: Create Transfer between Stock Units,<a href="/#reference/inventory-physicals-stock-processing/stocktostocktransfer"> Link</a></li>
</ul>

## Updated Endpoints

<ul>
<li>None at the moment</li>
</ul>
<chandiv>** ends ** </div>


## AccessToken [/AT]
Model Header containing AccessToken

+ Model 
    + Header

            Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg


# Group Client Reference Data
Codes relating to the Client Ledger and related endpoints.

## ClientAccount List [/ReferenceData/{TradingEntityId}/ClientLedger/ClientAccount/{Property}/{PropertyValue}]
`GET` Client Ledger Account profile.
### List ClientAccounts [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account ID|`string`|10|||
|Title|Client Account Title|`string`|200|||
|ClientTypeCode|Client Account Type Code|`string`|1|||
|Status|Account Status|`string`|1||`O` or `F`|
|PrivilegeLevel|Account Privilege Level|`number`|1||`0` to `9`|
|CanBeBuyer|Is Client a Buyer|`boolean`|5|||
|CanBeSeller|Is Client a Seller|`boolean`|5|||
|CanBeAgent|Is Client an Agent|`boolean`|5|||
|CanBeShipper|Is Client a Shipper|`boolean`|5|||
|CanBeDerivativeClient|Is Client a Derivative Client|`boolean`|5|||
|CanBeDerivativeBroker|Is Client a Derivative Broker|`boolean`|5|||
|CanBeForwarder|Is Client a Forwarder|`boolean`|5|||
|CanBeServiceProvider|Is Client a Service Provider|`boolean`|5|||
|EDICode|Account EDI Code|`string`|50|||
|AcceptsNettingInstruction|Accepts Netting Instruction|`boolean`|5|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) 
       + Members
            + Status
            + CanBeBuyer
            + CanBeSeller 
            + CanBeAgent
            + CanBeShipper
            + CanBeDerivativeClient 
            + CanBeDerivativeBroker
            + CanBeForwarder
            + CanBeServiceProvider
            + EDICode
            + AcceptsNettingInstruction
    + PropertyValue (optional, string, `O`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + Data (array [ClientAccount List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)    
    
+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## ClientAccount [/ReferenceData/{TradingEntityId}/ClientLedger/ClientAccount/{ClientAccountId}]
`GET` Client Ledger Account profile.
### Read ClientAccount [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account ID|`string`|10||Required|
|Title|Client Account Title|`string`|200|||
|ClientType|see <b><a href="/#reference/client-reference-data/clienttype-list">Client Type List</a></b> endpoint|`object`||||
|Status|Account Status|`string`|1||`O` or `F`|
|PrivilegeLevel|Account Privilege Level|`number`|1||`0` to `9`|
|CanBeBuyer|Is Client a Buyer|`boolean`|5|||
|CanBeSeller|Is Client a Seller|`boolean`|5|||
|CanBeAgent|Is Client an Agent|`boolean`|5|||
|CanBeShipper|Is Client a Shipper|`boolean`|5|||
|CanBeDerivativeClient|Is Client a Derivative Client|`boolean`|5|||
|CanBeDerivativeBroker|Is Client a Derivative Broker|`boolean`|5|||
|CanBeForwarder|Is Client a Forwarder|`boolean`|5|||
|CanBeServiceProvider|Is Client a Service Provider|`boolean`|5|||
|GlobalTraderProgramMember|Is Client a Global Trader Program Member|`boolean`|5|||
|GroupAccountMember|Is Client a Group Account Member|`boolean`|5|||
|HeadOfFamilyAccountCode|Head of Family Account Code|`string`|10|||
|EDICode|Account EDI Code|`string`|50|||
|AcceptsNettingInstruction|Accepts Netting Instruction|`boolean`|5|||
|ContactDetails|see <b><a href="/#reference/data-object-definitions/address">Address</a></b> object|`object`||||
|<strong>Client Limits</strong>|
|ClientDateLimitsApproved|Date Client Limits Approved|`datetime`|20|||
|ClientLimitsCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency List</a></b> endpoint|`object`||||
|ClientPaymentLimit|Client Payment Limit|`decimal`||||
|ClientMarketDefaultRiskLimit|Client Market Default Risk Limit|`decimal`||||
|ClientCommitmentLimit|Client Commitment Limit|`decimal`||||
|<strong>Family Limits</strong>|
|FamilyDateLimitsApproved|Date Family Limit Approved|`datetime`|20|||
|FamilyLimitsCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency List</a></b> endpoint|`object`||||
|FamilyPaymentLimit|Family Payment Limit|`decimal`||||
|FamilyMarketDefaultRiskLimit|Family Market Default Risk Limit|`decimal`||||
|FamilyCommitmentLimit|Family Commitment Limit|`decimal`||||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code of client account to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (ClientAccount)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


### Create Update ClientAccount [PUT]
`PUT` For Update requests the field `ClientAccountId` is used to check the corresponding value in the URI. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account ID|`string`|10||Required. Unique Key|
|Title|Client Account Title|`string`|200||Required|
|ClientTypeCode|Client Account Type Code|`string`|1||Required|
|Status|Account Status|`string`|1||`O` or `F`|
|PrivilegeLevel|Account Privilege Level|`number`|1||`0` to `9`|
|CanBeBuyer|Is Client a Buyer|`boolean`|5|||
|CanBeSeller|Is Client a Seller|`boolean`|5|||
|CanBeAgent|Is Client an Agent|`boolean`|5|||
|CanBeShipper|Is Client a Shipper|`boolean`|5|||
|CanBeDerivativeClient|Is Client a Derivative Client|`boolean`|5|||
|CanBeDerivativeBroker|Is Client a Derivative Broker|`boolean`|5|||
|CanBeForwarder|Is Client a Forwarder|`boolean`|5|||
|CanBeServiceProvider|Is Client a Service Provider|`boolean`|5|||
|GlobalTraderProgramMember|Is Client a Global Trader Program Member|`boolean`|5|||
|GroupAccountMember|Is Client a Group Account Memeber|`boolean`|5|||
|HeadOfFamilyAccountCode|Head of Family Account Code|`string`|10|||
|EDICode|Account EDI Code|`string`|50|||
|<strong>Contact Details</strong>|
|AddressLine1|Address Line 1|`string`|60|||
|AddressLine2|Address Line 2|`string`|60|||
|AddressLine3|Address Line 3|`string`|60|||
|AddressLine4|Address Line 4|`string`|60|||
|ZipCode|Zip Code|`string`|40|||
|CountryCode|Country Code|`string`|3||Required|
|EmailAddress|Email Address|`string`|100|||
|PhoneNumber|Phone Number|`string`|40|||
|FaxNumber|Fax Number|`string`|40|||
|<strong>Client Limits</strong>|
|ClientDateLimitsApproved|Date Client Limits Approved|`datetime`|20|||
|ClientLimitsCurrencyCode|Client Limits Currency Code|`string`|3|||
|ClientPaymentLimit|Client Payment Limits|`decimal`||||
|ClientMarketDefaultRiskLimit|Client Market Default Risk Limit|`decimal`||||
|ClientCommitmentLimit|Client Commitment Limit|`decimal`||||
|<strong>Family Limits</strong>|
|FamilyDateLimitsApproved|Date Family Limits Approved|`datetime`|20|||
|FamilyLimitsCurrencyCode|Family Limit Currency Code|`string`|3|||
|FamilyPaymentLimit|Family Payment Limit|`decimal`||||
|FamilyMarketDefaultRiskLimit|Family Market Default Risk Limit|`decimal`||||
|FamilyCommitmentLimit|Family Commitment Limit|`decimal`||||


+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (ClientAccount CreateUpdate)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code for client account to create or update.

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountId: ABCDEF.P (string)
        + Response (201 CreateResponse)
        + Messages (array [201 ErrorMessageDetail])

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountID: ABCDEF.P (string)
        + Response (200 UpdateResponse)
        + Messages (array [201 ErrorMessageDetail])
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

### Delta Update ClientAccount [PATCH]
`PATCH` Delta Update is to be used to update ClientAcount, where the field `ClientAccountId` is the only required field, it cannot be updated but is used to cross reference the Id in the URI. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account ID|`string`|10||Required|
|Title|Client Account Title|`string`|200|||
|ClientTypeCode|Client Account Type Code|`string`|1|||
|Status|Account Status|`string`|1||`O` or `F`|
|PrivilegeLevel|Account Privilege Level|`number`|1||`0` to `9`|
|CanBeBuyer|Is Client a Buyer|`boolean`|5|||
|CanBeSeller|Is Client a Seller|`boolean`|5|||
|CanBeAgent|Is Client an Agent|`boolean`|5|||
|CanBeShipper|Is Client a Shipper|`boolean`|5|||
|CanBeDerivativeClient|Is Client a Derivative Client|`boolean`|5|||
|CanBeDerivativeBroker|Is Client a Derivative Broker|`boolean`|5|||
|CanBeForwarder|Is Client a Forwarder|`boolean`|5|||
|CanBeServiceProvider|Is Client a Service Provider|`boolean`|5|||
|GlobalTraderProgramMember|Is Client a Global Trader Program Member|`boolean`|5|||
|GroupAccountMember|Is Client a Group Account Memeber|`boolean`|5|||
|HeadOfFamilyAccountCode|Head of Family Account Code|`string`|10|||
|EDICode|Account EDI Code|`string`|50|||
|<strong>Contact Details</strong>|
|AddressLine1|Address Line 1|`string`|60|||
|AddressLine2|Address Line 2|`string`|60|||
|AddressLine3|Address Line 3|`string`|60|||
|AddressLine4|Address Line 4|`string`|60|||
|ZipCode|Zip Code|`string`|40|||
|CountryCode|Country Code|`string`|3|||
|EmailAddress|Email Address|`string`|100|||
|PhoneNumber|Phone Number|`string`|40|||
|FaxNumber|Fax Number|`string`|40|||
|<strong>Client Limits</strong>|
|ClientDateLimitsApproved|Date Client Limits Approved|`datetime`|20|||
|ClientLimitsCurrencyCode|Client Limits Currency Code|`string`|3|||
|ClientPaymentLimit|Client Payment Limits|`decimal`||||
|ClientMarketDefaultRiskLimit|Client Market Default Risk Limit|`decimal`||||
|ClientCommitmentLimit|Client Commitment Limit|`decimal`||||
|<strong>Family Limits</strong>|
|FamilyDateLimitsApproved|Date Family Limits Approved|`datetime`|20|||
|FamilyLimitsCurrencyCode|Family Limit Currency Code|`string`|3|||
|FamilyPaymentLimit|Family Payment Limit|`decimal`||||
|FamilyMarketDefaultRiskLimit|Family Market Default Risk Limit|`decimal`||||
|FamilyCommitmentLimit|Family Commitment Limit|`decimal`||||

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (ClientAccount Update)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code for client account to update.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountId: ABCDEF.P (string)
        + Response (200 UpdateResponse)
        + Messages (array [201 ErrorMessageDetail])
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


## Client Bank Accounts [/ReferenceData/{TradingEntityId}/ClientLedger/ClientBankAccount/{ClientAccountId}]
`GET` Bank Accounts associated with Clients.

### Read Client Bank Accounts [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account ID|`string`|10||Required|
|BankAccountName|Bank Account Name|`string`|40|||
|BankAccountNumber|Bank Account Number|`string`|34|||
|BankNumber|Bank Number|`number`||||
|BankBranch|Bank Branch|`number`||||
|BankSwift|Bank Swift|`string`|50|||
|NominalCategory|see <b><a href="/#reference/nominal-reference-data/nominalcategory-list/list-nominalcategories">Nominal Category List</a></b> endpoint|`object`||||
|EDICode|EDI Code|`string`|35|||
|Status|Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code of client account to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [ClientBankAcc])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


## Client Interface Codes List [/ReferenceData/{TradingEntityId}/ClientLedger/ClientInterfaceCode/{Property}/{PropertyValue}]
`GET` Interface Codes associated with and used by clients.

### List Client Interface Codes [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account ID|`string`|10|||
|InterfaceTypeCode|Interface Type|`string`|8|||
|CodeMapping|Code Mapping|`string`|20|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ClientAccountId
            + InterfaceTypeCode
    + PropertyValue (optional, string, `ABCDEF.P`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [ClientInterfaceCodeList])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Client Interface Codes [/ReferenceData/{TradingEntityId}/ClientLedger/ClientInterfaceCode/{ClientAccountId}]
`GET` Interface Codes associated with and used by clients.

### Read Client Interface Codes [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account ID|`string`|10||Required|
|InterfaceType|see <b><a href="/#reference/data-object-definitions/interface-type">Interface Type</a></b> object|`object`||||
|CodeMapping|Code Mapping|`string`|20|||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code of client account to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [ClientInterfaceCode])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


## Client Interface Code CUD [/ReferenceData/{TradingEntityId}/ClientLedger/ClientInterfaceCode/{ClientAccountId}/{InterfaceTypeCode}]
Create, Update and Delete Interface code records associated with a client.


### Create Client Interface Code [PUT]
`PUT` Create record of an Interface code associated with a client. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account ID|`string`|10||Required|
|InterfaceTypeCode|Interface Type|`string`|8||Required|
|CodeMapping|Code Mapping|`string`|20||Required|


+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (ClientInterfaceCode Create)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code for client account to create.
    + InterfaceTypeCode (required, string, `XYZ`) ... Code for interface type to create.

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountId: ABCDEF.P (string)
        + Response (201 CreateResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


### Update Client Interface Code [PATCH]
`PATCH` Update Interface code record associated with a client. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account ID|`string`|10||Required|
|InterfaceTypeCode|Interface Type|`string`|8||Required|
|CodeMapping|Code Mapping|`string`|20||Required|


+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (ClientInterfaceCode Update)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code for client account to update.
    + InterfaceTypeCode (required, string, `XYZ`) ... Code for interface type to update.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountId: ABCDEF.P (string)
        + Response (200 UpdateResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


### Delete Client Interface Code [DELETE]
`DELETE` Interface code record associated with a client. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientAccountId|Client Account ID|`string`|10||Required|
|InterfaceTypeCode|Interface Type|`string`|8||Required|

<strong>Body Parameters</strong>
<br />
None.


+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Body 
    
            {
                none
            }

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + ClientAccountId (required, string, `ABCDEF.P`) ... Code for client account to delete.
    + InterfaceTypeCode (required, string, `XYZ`) ... Code for interface type to delete.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + ClientAccountId: ABCDEF.P (string)
            + InterfaceTypeCode: XYZ (string)
            + CodeMapping: AB1234 (string)
        + Response (200 DeletedResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


## ClientType List [/ReferenceData/{TradingEntityId}/ClientLedger/ClientType/{Property}/{PropertyValue}]
`GET` User-defined list of codes used for classification purposes on Client Account profile.

### List ClientTypes [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ClientTypeId|Client Type ID|`string`|1|||
|ClientTypeDescription|Client Type Description|`string`|50|||


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ClientTypeId
    + PropertyValue (optional, string, `H`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [ClientType List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


# Group Global Reference Data
Global (system-wide) codes 

## Country List [/ReferenceData/Global/Country/{Property}/{PropertyValue}]
`GET` Country codes.
### List Countries [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CountryId|Country ID|`string`|3|||
|CountryDescription|Country ID Description|`string`|50|||

+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + CountryId
    + PropertyValue (optional, string, `GB`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Country])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Currency List [/ReferenceData/Global/Currency/{Property}/{PropertyValue}]
`GET` Currency codes.
### List Currencies [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CurrencyId|Currency ID|`string`|3|||
|CurrencyDescription|Currency ID Description|`string`|20|||

+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + CurrencyId
    + PropertyValue (optional, string, `GBP`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Currency])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Document Status List [/ReferenceData/Global/DocumentStatus/{Property}/{PropertyValue}]
`GET` Document Statuses.
### List Document Statuses [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentStatusId|Document Status ID|`string`|1|||
|DocumentStatusDescription|Document Status ID Description|`string`|100|||
|DocumentLocked|Is Document Locked|`boolean`|5|||

+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + DocumentStatusId
            + DocumentLocked
    + PropertyValue (optional, string, `L`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [DocumentStatus])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Instrument List [/ReferenceData/Global/Instrument/{Property}/{PropertyValue}]
`GET` Instrument codes.
### List Instruments [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|InstrumentId|Instrument ID|`string`|8|||
|InstrumentDescription|Instrument ID Description|`string`|60|||
|Status|Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + InstrumentId
            + Status
    + PropertyValue (optional, string, `NY11`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Instrument])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## UserAccount List  [/ReferenceData/Global/UserAccount/{Property}/{PropertyValue}]
`GET` ITAS User Account profiles.
### List User Accounts [GET]



|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|UserAccountId|User Account Initials|`string`|3|||
|UserAccountName|User Account Username|`string`|255|||
|UserAccountDescription|User Account Full Name|`string`|40|||
|EmailAddress|Email Address|`string`|255|||
|PhoneNumber|Phone Number|`string`|255|||
|PersonalId|Personal ID|`string`|20|||


+ Request
    [AccessToken][]

+ Parameters
    + Property (optional, enum[string]) 
       + Members
            + UserAccountId
            + UserAccountName
    + PropertyValue (optional, string, `JS`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [UserAccount])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


# Group Master Reference Data
Master Data access to various Data objects

## Master Data [/ReferenceData/{MasterTradingEntityId}/MasterData/{Property}/{PropertyValue}]
`GET` Master Data
### Read Master Data [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|TradingEntityList|see <b><a href="/#reference/data-object-definitions/tradingentity/tradingentity">TradingEntity</a></b> object|[array] of `object`||||

+ Request
    [AccessToken][]

+ Parameters
    + Property (required, enum[string]) 
       + Members
            + ClientAccountId
            + PortId
    + PropertyValue (required, string, `ABCDEF.P`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (MasterDataTradingEntityList)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


### Create Update Master Data [PUT]
`PUT` Master Data. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|TradingEntityList|see <b><a href="/#reference/data-object-definitions/tradingentity/tradingentity">TradingEntity</a></b> object|[array] of `object`||||


+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (MasterDataTradingEntityList)

+ Parameters
    + Property (required, enum[string]) 
       + Members
            + ClientAccountId
            + PortId
    + PropertyValue (required, string, `ABCDEF.P`)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (MasterDataTradingEntityList)
        + Response (201 CreateResponse)
        + Messages (array [201 ErrorMessageDetail])

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (MasterDataTradingEntityList)
        + Response (200 UpdateResponse)
        + Messages (array [201 ErrorMessageDetail])
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

# Group Nominal Reference Data
Codes relating to Nominal Ledger and related endpoints.

## Department List [/ReferenceData/{TradingEntityId}/NominalLedger/Department/{Property}/{PropertyValue}]
`GET` Codes used to segregate business sectors within a trading company, and can be applied to contracts and accounting transactions.
### List Departments [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DepartmentId|Department ID|`string`|4|||
|DepartmentDescription|Department Code Description|`string`|30|||
|NominalCategoryId|Nominal Category ID|`string`|2|||
|CountryId|Department Country ID|`string`|3|||
|EDICode|Department EDI Code|`string`|15|||
|Status|Department Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status
            + DepartmentId
            + EDICode
    + PropertyValue (optional, string, `F`)


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Department List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Department [/ReferenceData/{TradingEntityId}/NominalLedger/Department/{DepartmentId}]
`GET` Codes used to segregate business sectors within a trading company, and can be applied to contracts and accounting transactions.
### Read Department [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DepartmentId|Department ID|`string`|4||Required|
|DepartmentDescription|Department Description|`string`|30|||
|NominalCategory|see <b><a href="/#reference/nominal-reference-data/nominalcategory-list/list-nominalcategories">Nominal Category List</a></b> endpoint|`object`||||
|Country|see <b><a href="/#reference/global-reference-data/country-list/list-countries">Countries List</a></b> endpoint|`object`||||
|EDICode|Department EDI Code|`string`|15|||
|Status|Department Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ...  Specific trading entity.
    + DepartmentId (required, string, `5100`) ...  Property department id. 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (Department)
        + Response (200 SuccessResponse)


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Expense List [/ReferenceData/{TradingEntityId}/NominalLedger/Expense/{Property}/{PropertyValue}]
`GET` Codes that are primarily used for accounting transaction analysis purposes.
### List Expenses [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ExpenseId|Expense ID|`string`|7|||
|ExpenseDescription|Expense ID Description|`string`|40|||
|EDICode|Expense EDI Code|`string`|15|||
|Status|Expense Status|`string`|1||`O` or `F`|


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string])  
       + Members
            + Status
            + EDICode
            + ExpenseId 
    + PropertyValue (optional, string, `F`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Expense List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## NominalAccount List [/ReferenceData/{TradingEntityId}/NominalLedger/NominalAccount/{Property}/{PropertyValue}]
`GET` Nominal (General) Ledger Account profile.
### List NominalAccounts [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|Nominal Account ID|`string`|9|||
|MainGroupingDescription|Main Grouping Description|`string`|40|||
|DetailDescription|Detail Description|`string`|40|||
|BankAccount|Is a Bank Account|`boolean`|5|||
|PrivilegeLevel|Nominal Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Nominal Account EDI Code|`string`|30|||
|Status|Nominal Account Status|`string`|1||`O` or `F`|


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + NominalAccountId
            + BankAccount
            + EDICode
            + Status 
    + PropertyValue (optional, string, `1234.5678`)


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[NominalAccount])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## NominalAccount [/ReferenceData/{TradingEntityId}/NominalLedger/NominalAccount/{NominalAccountId}]
`GET` Nominal (General) Ledger Account profile.

### Read NominalAccount [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|Nominal Account ID|`string`|9||Required|
|MainGroupingDescription|Main Grouping Description|`string`|40|||
|DetailDescription|Detail Description|`string`|40|||
|BankAccount|Is a Bank Account|`boolean`|5|||
|PrivilegeLevel|Nominal Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Nominal Account EDI Code|`string`|30|||
|Status|Nominal Account Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + NominalAccountId (required, string, `1234.5678`) ... Code for nominal account to read. 


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (NominalAccount)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

### Update NominalAccount [PUT]
`PUT` Update Nominal (General) Ledger Acccount profile. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|Nominal Account ID|`string`|9||Required|
|BankAccount|Is a Bank Account|`boolean`|5|||
|PrivilegeLevel|Nominal Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Nominal Account EDI Code|`string`|30|||
|Status|Nominal Account Status|`string`|1||`O` or `F`|

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (NominalAccountUpdate)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + NominalAccountId (required, string, `1234.5678`) ... Code for nominal account to update. 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + NominalAccountId: 1234.5678 (string)
        + Response (200 UpdateResponse)
        + Messages (array [201 ErrorMessageDetail])

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

### Delta Update NominalAccount [PATCH]
`PATCH` Update Nominal (General) Ledger Account profile. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalAccountId|Nominal Account ID|`string`|9||Required|
|BankAccount|Is a Bank Account|`boolean`|5|||
|PrivilegeLevel|Nominal Account Privilege Level|`number`|1||`0` to `9`|
|EDICode|Nominal Account EDI Code|`string`|30|||
|Status|Nominal Account Status|`string`|1||`O` or `F`|

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (NominalAccountDelta)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + NominalAccountId (required, string, `1234.5678`) ... Code for nominal account to update. 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + NominalAccountId: 1234.5678 (string)
        + Response (200 UpdateResponse)
        + Messages (array [201 ErrorMessageDetail])

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## NominalCategory List [/ReferenceData/{TradingEntityId}/NominalLedger/NominalCategory/{Property}/{PropertyValue}]
`GET` User-defined categorisation codes that can be applied to departments and bank accounts.
### List NominalCategories [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|NominalCategoryId|Nominal Category ID|`string`|2|||
|NominalCategoryDescription|Nominal Category ID Description|`string`|50|||
|NominalGroup|Nominal Group|`string`|15|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + NominalCategoryId
    + PropertyValue (optional, string, `AF`)


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[NominalCategory])
        + Response (200 SuccessResponse)


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Vat Rate List [/ReferenceData/{TradingEntityId}/NominalLedger/VATRate/{Property}/{PropertyValue}]
`GET` Codes and rates applied as part of any VAT/GST accounting practise.
### List VATRates [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|VatRateId|VAT Rate ID|`string`|2|||
|VatRateDescription|VAT Rate ID Description|`string`|40|||
|VatRate|VAT Rate|`decimal`||||
|Status|VAT Rate Status|`string`|1||`O` or `F`|
|CountryCode|Country Code|`string`|3|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + Property (optional, enum[string]) 
       + Members
            + VATRateId
            + VATRate
            + Status
            + CountryCode
    + PropertyValue (optional, string, `GS`) 

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [VATRate])
        + Response (200 SuccessResponse)


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Vat Rate [/ReferenceData/{TradingEntityId}/NominalLedger/VATRate/{VatRateId}]
`GET` Codes applied as part of any VAT/GST accounting practise.

### Read VAT Rate [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|VatRateId|VAT Rate ID|`string`|2|||
|VatRateDescription|VAT Rate ID Description|`string`|40|||
|VatRate|VAT Rate|`decimal`||||
|Status|VAT Rate Status|`string`|1||`O` or `F`|
|Country|see <b><a href="/#reference/data-object-definitions/addresscountry">AddressCountry</a></b> object|`object`||||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + VatRateId (required, string, `GS`) ... Code for nominal account to read. 


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (VatRateRead)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


# Group Physicals Reference Data
Codes relating to Physicals Trading and related endpoints.

## Business Sector List [/ReferenceData/{TradingEntityId}/Physicals/BusinessSector/{Property}/{PropertyValue}]
`GET` Market Sectors in Physical Trade.
### List Business Sectors [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|SectorId|Sector ID|`string`|4|||
|SectorDescription|Sector Description|`string`|60|||
|Status|Report Group Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + SectorId (optional, string)
            + Status (optional, string) 
    + PropertyValue (optional, string, `WEST`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [BusinessSector List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


## Commodity List [/ReferenceData/{TradingEntityId}/Physicals/Commodity/{Property}/{PropertyValue}]
`GET` Commodity/Product codes, used to identify goods
### List Commodities [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CommodityCodePart1|Commodity Code|`string`|3|||
|CommodityCodePart2|Commodity Origin|`string`|6|||
|CommodityCodePart3|Commodity Grade|`string`|6|||
|CommodityCodePart4|Commodity Code Section 4|`string`|6|||
|CommodityCodePart5|Commodity Code Section 5|`string`|6|||
|CommodityFullCode|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|Example <b><a href="/#reference/composite-key-examples/commodityfullcode">Composite Key</a></b>||
|CommodityDescription|Commodity Description|`string`|250|||
|DocumentText|Document Text|`string`|4000|||
|CommodityGroup|Commodity Group Code|`string`|3|||
|CountryCode|Commodity Country Code|`string`|3|||
|EDICode|Commodity EDI Code|`string`|50|||
|InternalCode|Internal Code|`string`|15|||
|Status|Commodity Status|`string`|1||`O` or `F`|
|ReportingGroupCode|Reporting Group Code|`string`|15|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + CommodityCodePart1 (optional, string) 
            + CommodityCodePart2 (optional, string)
            + CommodityCodePart3 (optional, string)
            + CommodityCodePart4 (optional, string)
            + CommodityCodePart5 (optional, string)
            + CommodityFullCode (optional, string)
            + CommodityGroup (optional, string)
            + EDICode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Commodity])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Commodity [/ReferenceData/{TradingEntityId}/Physicals/CommodityCode/{CommodityCodePart1}/{CommodityCodePart2}/{CommodityCodePart3}/{CommodityCodePart4}/{CommodityCodePart5}]
`GET` Commodity/Product codes, used to identify goods
### Read Commodity [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CommodityCodePart1|Commodity Code|`string`|3||Required|
|CommodityCodePart2|Commodity Origin|`string`|6|||
|CommodityCodePart3|Commodity Grade|`string`|6|||
|CommodityCodePart4|Commodity Code Section 4|`string`|6|||
|CommodityCodePart5|Commodity Code Section 5|`string`|6|||
|CommodityFullCode|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|Example <b><a href="/#reference/composite-key-examples/commodityfullcode">Composite Key</a></b>||
|CommodityDescription|Commodity Description|`string`|250|||
|DocumentText|Document Text|`string`|4000|||
|CommodityGroup|Commodity Group Code|`string`|3|||
|Country|see <b><a href="/#reference/global-reference-data/country-list/list-countries">Countries List</a></b> endpoint|`object`||||
|EDICode|Commodity EDI Code|`string`|50|||
|InternalCode|Internal Code|`string`|15|||
|Status|Commodity Status|`string`|1||`O` or `F`|
|ReportingGroup|see <b><a href="/#reference/physicals-reference-data/reporting-group-list">Reporting Group List</a></b> endpoint|`object`||||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + CommodityCodePart1 (required, string, `ORG`) ... Part 1 of Commodity Code to read.
    + CommodityCodePart2 (optional, string, `WHITE`)
    + CommodityCodePart3 (optional, string, `FAIRTR`)
    + CommodityCodePart4 (optional, string, `EXP`)
    + CommodityCodePart5 (optional, string, `ABC`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (CommodityRead)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## CommodityFullCode [/ReferenceData/{TradingEntityId}/Physicals/CommodityFullCode/{CommodityFullCode}]
`GET` Commodity/Product codes, used to identify goods
### Read Commodity by Full Code [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CommodityCodePart1|Commodity Code|`string`|3|||
|CommodityCodePart2|Commodity Origin|`string`|6|||
|CommodityCodePart3|Commodity Grade|`string`|6|||
|CommodityCodePart4|Commodity Code Section 4|`string`|6|||
|CommodityCodePart5|Commodity Code Section 5|`string`|6|||
|CommodityFullCode|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|Example <b><a href="/#reference/composite-key-examples/commodityfullcode">Composite Key</a></b>|Required|
|CommodityDescription|Commodity Description|`string`|250|||
|DocumentText|Document Text|`string`|4000|||
|CommodityGroup|Commodity Group Code|`string`|3|||
|Country|see <b><a href="/#reference/global-reference-data/country-list/list-countries">Countries List</a></b> endpoint|`object`||||
|EDICode|Commodity EDI Code|`string`|50|||
|InternalCode|Internal Code|`string`|15|||
|Status|Commodity Status|`string`|1||`O` or `F`|
|ReportingGroup|see <b><a href="/#reference/physicals-reference-data/reporting-group-list">Reporting Group List</a></b> endpoint|`object`||||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + CommodityFullCode (required, string, `ORG||WHITE||FAIRTR||EXP||ABC`) ... CommodityFullCode to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (CommodityFullCodeRead)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

  
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)



## Contract Term List [/ReferenceData/{TradingEntityId}/Physicals/ContractTerm/{Property}/{PropertyValue}]
`GET` Contract Terms (aka Incoterms) usually setup to represent pre-defined, internationally recognised, commercial terms of contract.
### List ContractTerms [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ContractTermId|Contract Term ID|`string`|8|||
|ContractTermDescription|Contract Term ID Description|`string`|50|||
|DocumentText|Contract Document Text|`string`|4000|||
|Status|Contract Status|`string`|1||`O` or `F`|
|EDICode|Contract EDI Code|`string`|50|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string])
       + Members
            + Status (optional, string)
            + ContractTermId (optional, string) 
            + EDICode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + Data (array[ContractTerm])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## PackingType List [/ReferenceData/{TradingEntityId}/Physicals/PackingType/{Property}/{PropertyValue}]
`GET` Codes used to describe the units of packing applied in physical contracts.
### List PackingTypes [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PackingTypeId|Packing Type ID|`string`|4|||
|PackingTypeDescription|Packing Type ID Description|`string`|70|||
|EDICode|Packing Type EDI Code|`string`|50|||
|Status|Packing Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + PackingTypeId (optional, string) 
            + EDICode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[PackingType])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## PaymentTerm List [/ReferenceData/{TradingEntityId}/Physicals/PaymentTerm/{Property}/{PropertyValue}]


`GET` Codes used to describe terms of payment applied to physical contracts through to accounting
### List PaymentTerms [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PaymentTermId|Payment Term ID|`string`|8|||
|PaymentTermDescription|Payment Term ID Description|`string`|99|||
|DocumentText|Payment Term Document Text|`string`|8000|||
|EDICode|Payment Term EDI Code|`string`|20|||
|Status|Payment Term Status|`string`|1||`O` or `F`|
|NumberOfDaysCredit |Number of Days Credit|`number`||||
|OtherCode|Other Code|`string`|20|||



+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + PaymentTermsId (optional, string) 
            + EDICode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[PaymentTerm])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Port List [/ReferenceData/{TradingEntityId}/Physicals/Port/{Property}/{PropertyValue}]
`GET` Codes used to identify physical port locations.
### List Ports [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|PortId|Port ID|`string`|8|||
|PortDescription|Port ID Description|`string`|60|||
|DocumentText|Port Document Text|`string`|4000|||
|CountryCode|Port Country Code|`string`|3|||
|EDICode|Port EDI Code|`string`|10|||
|Status|Port Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + PortId (optional, string) 
            + CountryCode (optional, string)
    + PropertyValue (optional, string, `F`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Port List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Reporting Group List [/ReferenceData/{TradingEntityId}/Physicals/ReportGroup/{Property}/{PropertyValue}]
`GET` Reporting Group values in both Physical and Commodity.
### List Reporting Groups [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ReportGroupId|Report Group ID|`string`|15|||
|ReportGroupDescription|Report Group Description|`string`|50|||
|Status|Report Group Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ReportGroupId (optional, string)
            + Status (optional, string) 
    + PropertyValue (optional, string, `WHITE`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [ReportGrp List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


## Sample List [/ReferenceData/{TradingEntityId}/Physicals/Sample/{Property}/{PropertyValue}]
`GET` Codes used to identify specific product qualities.
### List Samples [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|SampleId|Sample ID|`string`|4|||
|SampleDescription|Sample ID Description|`string`|50|||
|DocumentText|Sample Document Text|`string`|4000|||
|NoOfCopiesRequired|Number of Copies Required|`number`||||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + SampleId (optional, string,) 
    + PropertyValue (optional, string, `abcd`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Sample])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## ShippingStatus List [/ReferenceData/{TradingEntityId}/Physicals/ShippingStatus/{Property}/{PropertyValue}]
`GET` Codes used to classify the status in terms of movement, useful for reporting purposes.
### List ShippingStatuses [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|ShippingStatusId|Shipping Status ID|`string`|2|||
|ShippingStatusDescription|Shipping Status ID Description|`string`|50|||

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + ShippingStatusId (optional, string,) 
    + PropertyValue (optional, string, `OR`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[ShippingStatus])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Terminal List [/ReferenceData/{TradingEntityId}/Physicals/Terminal/{Property}/{PropertyValue}]
`GET` Codes used to identify specific terminal location, useful for reporting purposes.
### List Terminals [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|TerminalId|Terminal ID|`string`|4|||
|TerminalDescription|Terminal ID Description|`string`|50|||
|CountryId|Terminal Country ID|`string`|3|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + TerminalId (optional, string) 
    + PropertyValue (optional, string, `ADEL`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Terminal])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Vessel List [/ReferenceData/{TradingEntityId}/Physicals/Vessel/{Property}/{PropertyValue}]
`GET` List of Vessel names that can be applied as part of any physical logistics strategy
### List Vessels [GET]
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|VesselId|Vessel ID|`string`|30|||
|VesselDescription|Vessel Description|`string`|50|||
|CountryCode|Vessel Country Code|`string`|3|||
|Status|Vessel Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + Status (optional, string)
            + VesselId (optional, string)
    + PropertyValue (optional, string, `F`)


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [Vessel List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Weight List [/ReferenceData/{TradingEntityId}/Physicals/Weight/{Property}/{PropertyValue}]
`GET` Codes used to describe the units of measurement applied in physical contracts.
### List Weights [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|WeightId|Weight ID|`string`|4|||
|WeightDescription|Weight ID Description|`string`|50|||
|DocumentText|Weight Document Text|`string`|4000|||
|DecimalPlacesPresentation|Number of Decimal Places|`number`|1|||
|ConversionFactorToKilos|Conversion Factor into Kilos|`decimal`||||
|EDICode|Weight EDI Code|`string`|50|||
|Status|Weight Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + WeightId (optional, string) 
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `GA`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[Weight])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


# Group WIP Reference Data
WIP Ledger related reference data.


## Charter List [/ReferenceData/{TradingEntityId}/WipLedger/Charter/{Property}/{PropertyValue}]
`GET` List of charter profiles – restricted by WIPAccountType of `C`.
### List Charter [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CharterId|Charter Account ID|`string`|11|||
|CharterDescription|Charter Description|`string`|60|||
|DepartmentCode|Department Code|`string`|4|||
|CommodityFullCode|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|Example <b><a href="/#reference/composite-key-examples/commodityfullcode">Composite Key</a></b>||
|NominalAccountCode|Nominal Account Code|`string`|9|||
|ShipmentStatusCode|Shipment Status Code|`string`|2|||
|VesselReference|Vessel Reference|`string`|30|||
|ShippingLineCode|Shipping Line Code|`string`|10|||
|PrivilegeLevel|Charter Account Privilege Level|`string`|1||`0` to `9`|
|EDICode|Charter Account EDI Code|`string`|9|||
|Status|Charter Account Status|`string`|1||`O` or `F`|
|AreGoodsFinanced|Are Goods Financed|`boolean`|5|||
|FinanceBankCli|Finance Bank Client|`string`|10|||
|FinanceBankName|Finance Bank Name|`string`|40|||
|FinanceBankAccount|Finance Bank Account|`string`|34|||
|FinanceId|Finance ID|`string`|50|||


+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + CharterId (optional, string) 
            + ShipmentStatusCode (optional, string)
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `CHART01.000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes (object)
        + Data (array [Charter List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


## Charter [/ReferenceData/{TradingEntityId}/WIPLedger/Charter/{CharterId}]
`GET` Charter profile – restricted by WIPAccountType of `C`.
### Read Charter [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CharterId|Charter Account ID|`string`|11||Required|
|CharterDescription|Charter Description|`string`|60|||
|Department|see <b><a href="/#reference/nominal-reference-data/department/department-list">Department</a></b> endpoint|`object`||||
|Commodity|see <b><a href="/#reference/physicals-reference-data/list-commodities">Commodity List</a></b> endpoint|`object`||||
|NominalAccount|Nominal Account delivered as an <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|ShipmentStatus|see <b><a href="/#reference/physicals-reference-data/shippingstatus-list">ShippingStatus</a></b> endpoint|`object`||||
|VesselReference|Vessel Reference|`string`|30|||
|ShippingLine|Shipping Line delivered as an <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|PrivilegeLevel|Charter Acccount Privilege Level|`string`|1||`0` to `9`|
|EDICode|Charter Account EDI Code|`string`|9|||
|Status|Charter Account Status|`string`|1||`O` or `F`|
|AreGoodsFinanced|Are Goods Financed|`boolean`|5|||
|FinanceBank|see <b><a href="/#reference/client-reference-data/client-bank-accounts/read-client-bank-accounts">Client Bank Accounts</a></b> endpoint|`object`||||
|FinanceId|Finance ID|`string`|50|||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + CharterId (required, string, `CHART01.000`) ... Code for charter to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (Charter)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

### Update Charter [PATCH]
`PATCH` For Update requests the field `CharterId` is used to check the corresponding value in the URI. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|CharterId|Charter Account ID|`string`|11||Required|
|AreGoodsFinanced|Are Goods Financed|`boolean`|5|||
|FinanceBankCli|Finance Bank Client|`string`|10|||
|FinanceBankName|Finance Bank Name|`string`|40|||
|FinanceBankAccount|Finance Bank Account|`string`|34|||
|FinanceId|Finance ID|`string`|50|||

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (Charter Update)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + CharterId (required, string, `CHART01.000`) ... Code for charter to update.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + CharterId: CHART01.000 (string)
        + Response (200 UpdateResponse)
        + Messages (array [201 ErrorMessageDetail])
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


## StockUnit List [/ReferenceData/{TradingEntityId}/WipLedger/StockUnit/{Property}/{PropertyValue}]
`GET` Stock Account profile – restricted by WIPAccountType of `S`.
### List StockUnits [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|StockUnitId|Stock Unit Account ID|`string`|11|||
|StockUnitDescription|Stock Unit Account Description|`string`|60|||
|TerminalCode|Terminal Code|`string`|4|||
|DepartmentCode|Department Code|`string`|4|||
|NominalAccountCode|Nominal Account Code|`string`|9|||
|CommodityCode|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|Example <b><a href="/#reference/composite-key-examples/commodityfullcode">Composite Key</a></b>||
|StockOwnerCode|Stock Owner Account Code|`string`|10|||
|ReleaseState|Release State|`number`|2|||
|CurrentStatus|Stock Unit Current Status|`number`|2|||
|PrivilegeLevel|Stock Unit Account Privilege Level|`string`|1||`0` to `9`|
|EDICode|Stock Unit Account EDI Code|`string`|9|||
|Status|Stock Unit Account Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + StockUnitId (optional, string) 
            + TerminalCode (optional, string)
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `1111.MEP`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + Data (array [StockUnitList])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## StockUnit [/ReferenceData/{TradingEntityId}/WipLedger/StockUnit/{StockUnitId}]
`GET` Stock Account profile - restricted by WIPAccountType of `S`.
### Read StockUnit [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|StockUnitId|Stock Unit Account ID|`string`|11||Required|
|StockUnitDescription|Stock Unit Account Description|`string`|60|||
|Terminal|see <b><a href="/#reference/physicals-reference-data/terminal-list/list-terminals">Terminals List</a></b> endpoint|`object`||||
|Department|see <b><a href="/#reference/nominal-reference-data/department/department-list">Department</a></b> endpoint|`object`||||
|Commodity|see <b><a href="/#reference/physicals-reference-data/commodity-list/list-commodities">Commodity List</a></b> endpoint|`object`||||
|NominalAccount|Nominal Account delivered as an <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|StockOwner|Stock Owner delivered as an <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|ReleaseState|Release State|`number`|2|||
|CurrentStatus|Stock Unit Current Status|`number`|2|||
|PrivilegeLevel|Stock Unit Account Privilege Level|`string`|1||`0` to `9`|
|EDICode|Stock Unit Account EDI Code|`string`|9|||
|Status|Stock Unit Account Status|`string`|1||`O` or `F`|

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + StockUnitId (required, string, `1111.MEP`) ... Code for stock unit to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (StockUnit)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## WIP Account List [/ReferenceData/{TradingEntityId}/WipLedger/WIPAccount/{Property}/{PropertyValue}]
`GET` List of charter profiles.
### List WIP Accounts [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|WIPAccountId|WIP Account ID|`string`|11|||
|WIPAccountDescription|WIP Account Description|`string`|60|||
|WIPAccountType|WIP Account Type|`string`|1|||
|DepartmentCode|Department Code|`string`|4|||
|NominalAccountCode|Nominal Account Code|`string`|9|||
|PrivilegeLevel|WIP Account Privilege Level|`string`|1||`0` to `9`|
|EDICode|WIP Account EDI Code|`string`|9|||
|Status|WIP Account Status|`string`|1||`O` or `F`|



+ Request
    [AccessToken][]

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + WIPAccountId (optional, string) 
            + WIPAccountType (optional, string)
            + EDICode (optional, string)
            + Status (optional, string)
    + PropertyValue (optional, string, `1111.MEP`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[WIPAccount List])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)
    
+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadPropertyResponse)
    
+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## WIP Account [/ReferenceData/{TradingEntityId}/WipLedger/WipAccount/{WipAccountId}]
`GET` Charter profile
### Read WIP Account [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|WIPAccountId|WIP Account ID|`string`|11||Required|
|WIPAccountDescription|WIP Account Description|`string`|60|||
|WIPAccountType|WIP Account Type|`string`|1|||
|Department|see <b><a href="/#reference/nominal-reference-data/department/read-department">Department</a></b> endpoint|`object`||||
|NominalAccount|see <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|PrivilegeLevel|WIP Account Privilege Level|`string`|1||`0` to `9`|
|EDICode|WIP Account EDI Code|`string`|9|||
|Status|WIP Account Status|`string`|1||`O` or `F`|


+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + WipAccountId (required, string, `1111.MEP`) ... Code for WIP account to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (WIPAccount)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


# Group Accounting-Matching
Endpoints covering functionality around the match process within ITAS accounting including listing and removing matching information.

## Remove Match [/Accounting/{TradingEntityId}/Matching/RemoveMatch/{MatchFlag}]
`PUT` Request the removal of a specific Match Flag. This process is usually required prior to any attempt to reverse a document using the ReverseCashDocument endpoint. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>
### Remove Match [PUT]

<b>URI Parameters</b>

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|MatchFlag|Match Flag|`string`|3||Required|

<b>Body Parameters</b>
<br />
None.

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + MatchFlag (required, string, `ABC`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Body 
    
            {
                none
            }



+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + MatchFlag: ABC (string)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


## Transactions Matched List [/Accounting/{TradingEntityId}/Matching/TransactionsMatched/{DocumentReference}]
`GET` Returns a list of matched client (posted) transactions associated with the document provided. This should be done as part of any reversal process/request to ensure the consequences of removing a match are understood. Multiple matches may be identified for a single document as client legs can be split, so please note that the response contains an array of match flags with associated transactions.
### List Transactions Matched [GET]

<b>URI Parameters</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|DocumentReference|`string`|9||Required|


<b>Response Body</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|MatchFlag|Match Flag|`string`|3||Required|
|TransactionsMatched|see <b><a href="/#reference/data-object-definitions/onaccountdetails/onaccountdetails">On Account Details</a></b> object|[array] of `object`|||Required|


+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + DocumentReference (required, string, `PI1500000`) ... Code for transactions matched to read.)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [TransactionsMatched])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


# Group Accounting-Transactions
Data Objects and endpoints providing access to accounting transactions generated through ITAS processes.

## Additional Invoicing Details List [/Accounting/{TradingEntityId}/Transaction/AdditionalInvDetail/{Property}/{PropertyValue}]
`GET` List Details associated with external use of invoices
### List Additional Invoicing Details [GET]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Transaction Document Reference|`string`|9|||
|InvoiceDetailId|Invoice Detail Id|`number`||||
|SerialNumber|Serial Number|`number`||||
|SquenceNumber|Sequence Number|`string`|50|||
|Void|Void|`boolean`|5|||
|VoidMemo|Void Memo|`string`|1000|||
|Token|Token|`string`|255|||
|EnvelopeId|Envelope Id|`number`||||
|CounterpartyEnvelopeId|Counterparty Envelope Id|`number`||||
|CounterpartyId|Counterparty Id|`number`||||
|Acknowledged|Is Acknowldged|`boolean`|5|||
|StatusTimeStamp|Status Time Stamp|`datetime`||||
|Status|Status |`string`|20|||
|TrackId|Track Id|`string`|20|||
|OneTimePassword|One Time Password|`string`|30|||
|ConfirmCode|Confirm Code|`string`|30|||
|SetUpBy|Set Up By|`string`|3|||

+ Request
    [AccessToken][]


+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity.
    + Property (optional, enum[string]) ... identify property name to filter by 
       + Members
            + DocumentReference (optional, string)
            + InvoiceDetailId (optional, string) 
            + SerialNumber (optional, string)
            + SequenceNumber (optional, string)
            + Void (optional, string)
    + PropertyValue (optional, string, `PI1500000`)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array[AdditionalInvoiceDet])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)

## Additional Invoicing Details Create [/Accounting/{TradingEntityId}/Transaction/AdditionalInvDetail]
`POST` Create Details associated with external use of invoices. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>
### Create Additional Invoicing Details [POST]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Transaction Document Reference|`string`|9||Required|
|Void|Void|`boolean`|5|||
|VoidMemo|Void Memo|`string`|1000|||
|Token|Token|`string`|255|||
|EnvelopeId|Envelope Id|`number`||||
|CounterpartyEnvelopeId|Counterparty Envelope Id|`number`||||
|CounterpartyId|Counterparty Id|`number`||||
|Acknowledged|Is Acknowldged|`boolean`|5|||
|StatusTimeStamp|Status Time Stamp|`datetime`||||
|Status|Status |`string`|20|||
|TrackId|Track Id|`string`|20|||
|OneTimePassword|One Time Password|`string`|30|||
|ConfirmCode|Confirm Code|`string`|30|||

<b>Response Data</b>
|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|InvoiceDetailId|Invoice Detail Id|`number`||||

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (AdditionalInvDetailCreate)

+ Response 201 (application/json; charset=utf-8)
    + Attributes 
        + Data (AdditionalInvDeatilResponse)
        + Response (201 CreateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


## Additional Invoicing Details [/Accounting/{TradingEntityId}/Transaction/AdditionalInvDetail/{InvoiceDetailId}]
`PATCH` Update Details associated with external use of invoices. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>
### Update Additional Invoicing Details [PATCH]

|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|InvoiceDetailId|Invoice Detail Id|`number`|||Required|
|Void|Void|`boolean`|5|||
|VoidMemo|Void Memo|`string`|1000|||
|Token|Token|`string`|255|||
|EnvelopeId|Envelope Id|`number`||||
|CounterpartyEnvelopeId|Counterparty Envelope Id|`number`||||
|CounterpartyId|Counterparty Id|`number`||||
|Acknowledged|Is Acknowldged|`boolean`|5|||
|StatusTimeStamp|Status Time Stamp|`datetime`||||
|Status|Status |`string`|20|||
|TrackId|Track Id|`string`|20|||
|OneTimePassword|One Time Password|`string`|30|||
|ConfirmCode|Confirm Code|`string`|30|||

+ Request (application/json)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg
  
    + Attributes (AdditionalInvDetailsUpdate)

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + InvoiceDetailId (required, number, `10`) ... Code for additional invoicing details to read.


+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + InvoiceDetailId: 10 (number)
        + Response (200 UpdateResponse)
        + Messages (array [201 ErrorMessageDetail])


+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


## Authorise For Posting [/Accounting/{TradingEntityId}/Transaction/AuthoriseForPosting/{DocumentReference}]
`PUT` Mark a non-cash document as Authorised to be posted. * <a href="/#introduction/disclaimer"> (Disclaimer)</a>
### Authorise For Posting [PUT]


<strong>URI Parameters</strong>


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Document Reference|`string`|9||Required|

<strong>Body Parameters</strong>
<br />
None.

+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + DocumentReference (required, string, `SA1515151`)

+ Request (application/json)
    + Header

            AccessToken: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Body 
    
            {
                none
            }



+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data
            + DocumentReference: SA1515151 (string)
        + Response (200 UpdateResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


## Posted Transaction [/Accounting/{TradingEntityId}/Transaction/PostedTransaction/{DocumentReference}]
`GET` Provides access to full accounting ledger by Document Reference.
### Read Posted Transaction [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Transaction Document Reference|`string`|9||Required|
|AccountLedgerType|Account Ledger Type Code|`string`|1||`C`, `N` or `K`|
|TransactionKey|`Composite Key` delimited by double pipe "&#124;&#124;"|`string`|50|Example <b><a href="/#reference/composite-key-examples/transactionkey">Composite Key</a></b>||
|Account|see <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|DocumentCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency</a></b> endpoint|`object`||||
|AccountingPeriod|Transaction Accounting Period|`number`||||
|PostingDate|Transaction Posting Date|`number`||||
|PostingTime|Transaction Posting Time|`number`||||
|DocumentDate|Transaction Document Date|`datetime`|20|||
|ValueDate|Transaction Value Date|`datetime`|20|||
|FunctionalCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency</a></b> endpoint|`object`||||
|AmountInDocumentCurrency|Transaction Amount in Document Currency|`decimal`||||
|AmountInFunctionalCurrency|Transaction Amount in Functional Currency|`decimal`||||
|AmountInLocalCurrency|Transaction Amount in Local Currency|`decimal`||||
|RateOfExchangeApplied|Transaction Rate of Exchange Applied|`decimal`||||
|RateOfExchangeType|Transaction Rate of Exchange Type Code|`string`|1||`M` or `D`|
|WeightInQtyCode|Weight in Quantity Code|`decimal`||||
|ContractReference|Contract Reference Code|`string`|10|||
|Expense|see <b><a href="/#reference/nominal-reference-data/expense-list/list-expenses">Expense</a></b> endpoint|`object`||||
|Department|see <b><a href="/#reference/nominal-reference-data/department">Department</a></b> endpoint|`object`||||
|PaymentTerm|see <b><a href="/#reference/physicals-reference-data/paymentterm-list">PaymentTerm</a></b> endpoint|`object`||||
|VatRate|see <b><a href="/#reference/nominal-reference-data/vat-rate/read-vat-rate">VATRate</a></b> endpoint|`object`||||
|VatTurnover|VAT Turnover|`decimal`||||
|ClientReference|Client Reference|`string`|25|||
|Narrative|Narrative|`string`|30|||
|MarketReference|Market Reference|`string`|8|||
|PromptDate|Transaction Prompt Date|`date`|||`yyyy-mm` or `yyyy-mm-dd`|
|PromptMonth|Transaction Prompt Month|`datetime`||Deprecation TBC||
|OptionType|Transaction Option Type Code|`string`|1||`C`, `P` or `''`|
|CommodityReference|Transaction Commodity Reference|`string`|15|||
|TransactionIsMatched|Is Transaction Matched|`boolean`|5|||
|PreMatchDocumentReference|Pre Matched Document Reference Code|`string`|9|||
|Branch|see <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|Creator|see <b><a href="/#reference/global-reference-data/useraccount-list">UserAccount List</a></b> endpoint|`object`||||
|AssociateClientCode|Associate Client Code|`string`|10|||
|PLVatCode|PL Vat Code|`string`|2|||

+ Request
    [AccessToken][]
    
+ Parameters
    + TradingEntityId (required, string, `JT`) ... Identify specific trading entity. 
    + DocumentReference (required, string, `PI1500000`) ... Code for posted transaction to read.

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (array [PostedTransaction])
        + Pagination (Pagination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 BadReadResponse)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

+ Response 405 (application/json; charset=utf-8)
    + Attributes (405 Response)


## UnPosted Transaction [/Accounting/{TradingEntityId}/Transaction/UnPostedTransaction/{DocumentReference}]
`GET` Provides access to financial transaction details yet to be posted to the ledgers (either held-authorised or not authorised) by Document Reference.
### Read Unposted Transaction [GET]


|Property|Description|Type|Max Length|Notes|Constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|Transaction Document Reference|`string`|9||Required|
|AccountLedgerType|Account Ledger Type Code|`string`|1||`C`, `N` or `K`|
|DocumentDate|Transaction Document Date|`datetime`|20|||
|ValueDate|Transaction Value Date|`datetime`|20|||
|Account|see <b><a href="/#reference/data-object-definitions/accountheader">AccountHeader</a></b> object|`object`||||
|DocumentCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency</a></b> endpoint|`object`||||
|AmountInDocumentCurrency|Transaction Amount in Document Currency|`decimal`||||
|FunctionalCurrency|see <b><a href="/#reference/global-reference-data/currency-list/list-currencies">Currency</a></b> endpoint|`object`||||
|AmountInFunctionalCurrency|Transaction Amount in Functional Currency|`decimal`||||
|AmountInLocalCurrency|Transaction Account in Local Currency|`decimal`||||
|RateOfExchangeApplied|Transaction Rate of Exchange Applied|`decimal`||||
|RateOfExchangeType|Transaction Rate of Exchange Type Code|`string`|1||`M` or `D`|
|WeightInQtyCode|Weight in Quantity Code|`decimal`||||
|ContractReference|Contract Reference Code|`string`|10|||
|Expense|see <b><a href="/#reference/nominal-reference-data/expense-list/list-expenses">Expense</a></b> endpoint|`object`||||
[...]
